//colors
$success: #f22539;
$second: #bfbfbf;
$favorit: #eca539;
$nofavorit: #bfbfbf;
$background: #e5e5e5;
$background-hover: #f5f5f5;

//text
$title: 26px;
$description: 18px;
$title-error: 36px;
$name-pokemon: 22px;
